---
export interface Props {
  company: string;
}

const { company } = Astro.props as Props;
---

<div class="topnav">
  <a class="active" href="/">{company} / Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="/about">About</a>
</div>
<style>
  /* Add a black background color to the top navigation */
  .topnav {
    background-color: #333;
    overflow: hidden;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4f39fa;
    color: white;
  }
</style>
